.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-image-wrapper img {
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}

.portfolio-image-wrapper:hover img {
  transform: scale(1.05);
}

.nav-tabs .nav-link {
  color: #333;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #d80505;
  border: none !important;
}
.nav-tabs{
  border-bottom: 0 !important;
}
.nav-tabs .nav-link{
  border-radius: 10px !important;
}

.nav-tabs .nav-link {
  color: #ffffff !important;
  font-weight: 600 !important;
}